<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_login</title>
</head>
<body>
    <div class="container">
        <h2>admin_login</h2>
        <form method="POST">
            <div class="form-group">
                <label for="username">admin_username：</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">password：</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">login</button>
        </form>
    </div>
</body>
</html>
